@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background: #f5f5f5 ;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.register-btn {
    padding: 18px 35px;  /* Larger padding */
    font-size: 22px;     /* Larger font */
    min-width: 200px;  /* Ensures minimum width */
    color: #212Ea0;
    letter-spacing: 0.5px;  /* Optional: improves text readability */
    font-weight: 700;
}

.btn.register-btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease, background-color 0.2s ease, background-image 0.2s ease;
    background-image: linear-gradient(135deg, #032869, #f7f8f95b); /* Soothing blue gradient */
    color: #fff; /* Keeps text readable */
}

.btn img {
    width: 20px;
    margin-left: 10px;
}

.btn.dark-btn {
    background: #212Ea0;
    color: #fff;
}


@media (max-width: 1200px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .btn {
        padding: 14px 22px;
    }
}

